.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  flex-wrap: nowrap;
  background-color: black;
  color: white;
  height: 419px;
  width: 300px;
  border-radius: 0 0 10px 10px;
}
.img-container {
  width: 298px;
  height: 300px;
}
.imgen-card {
  object-fit: cover;
  object-position: top;
  height: 100%;
}

.imgen-vehicle {
  object-fit: contain;
  height: 100%;
}

.card-body {
  background-color: balck;
  color: white;
  font-family: Helvetica, sans-serif;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.learn-btn,
.fav-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.learn-btn:hover,
.fav-btn:hover {
  background-color: rgba(255, 255, 255, 0.733);
  color: black;
  transition: 0.2s;
}

.learn-btn:active,
.fav-btn:active {
  background-color: white;
}

.star-icon:active {
  background-color: white;
}
