.navbar {
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  background-color: black;
  z-index: 1;
  animation: enhancer-navbar linear both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}

@keyframes enhancer-navbar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.dropdown-fav-btn,
.dropdown-menu {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.dropdown-fav-btn:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

li {
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
}
li:hover {
  background-color: rgba(255, 255, 255, 0.733);
  color: black;
}
li:active {
  background-color: white;
}
