.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: black;
  animation: enhancer-navbar linear both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}

@keyframes enhancer-navbar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.navbar:hover {
  animation: none;
}
.logo {
  align-self: center;
  margin-left: 50px;
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .star-logo {
    width: 80%;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: black;
    animation: enhancer-navbar linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  @keyframes enhancer-navbar {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
}
.favorites {
  align-self: center;
  margin-right: 50px;
  margin-left: 10px;
}

.dropdown-fav-btn,
.dropdown-menu {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.dropdown-fav-btn:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.list-element {
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
}
.list-element:hover {
  background-color: rgba(255, 255, 255, 0.733);
  color: black;
}
.list-element:active {
  background-color: white;
}
