:root {
  --border-top: 1px solid rgba(255, 0, 0, 0.356);
}

.single-view-container {
  margin-top: 100px;
  background-color: black;
}
.img-single-view {
  margin-top: 200px;
}
.introduction-container {
  display: flex;
  width: 100%;
  height: 75%;
  color: white;
}
img {
  width: 25%;
}
.name-descp-container {
  display: block;
}
.characteristics-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-top: var(--border-top);
}
h5 {
  color: white;
  margin-top: 2px;
}
h2,
p {
  color: rgb(151, 19, 19);
}
